nav {
  width: 100%;
  height: 64px;
  background-color: #010409;
  border-bottom: 1px solid #30363d;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  box-sizing: border-box;
}

.navbar-left,
.navbar-right {
  display: flex;
  align-items: center;
  gap: 12px;
}

.github-logo {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}


.dashboard-link {
  color: white;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
}


.search-box {
  display: flex;
  align-items: center;
  width: 260px;
  height: 34px;
  padding: 0 10px;
  border: 1px solid #30363d;
  border-radius: 6px;
}

.search-box input {
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  color: white;
  margin-left: 5px;
}


.nav-square-btn {
  width: 34px;
  height: 34px;
  background: transparent;
  color: white;
  border: 1px solid #30363d;
  border-radius: 6px;
  cursor: pointer;
}

.nav-square-btn:hover {
  background-color: #21262d;
}


.profile-avatar {
  font-size: 25px;
  width: 25px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}

nav {
  position: sticky;
top: 0;
z-index: 1000;
}



.issue-dropdown-container {
  position: relative;
}

.issue-dropdown {
  position: absolute;
  top: 55px;
  right: 0;
  width: 260px;
  background: #161b22;
  border: 1px solid #30363d;
  border-radius: 8px;
  overflow: hidden;
  z-index: 1000;
}

.issue-dropdown h4 {
  margin: 0;
  padding: 12px;
  border-bottom: 1px solid #30363d;
  color: white;
}

.issue-item {
  padding: 12px 15px;
  cursor: pointer;
  color: #c9d1d9;
  transition: 0.2s;
}

.issue-item:hover {
  background: #21262d;
  color: #58a6ff;
}






.navbar-issue-wrapper {
  position: relative;
}

.navbar-issue-dropdown {
  position: absolute;
  top: 45px;
  right: 0;
  width: 260px;
  background: #161b22;
  border: 1px solid #30363d;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
  z-index: 9999;
}

.navbar-repo-option {
  width: 100%;
  padding: 12px 15px;
  border: none;
  background: transparent;
  color: #c9d1d9;
  text-align: left;
  cursor: pointer;
  transition: 0.2s;
}

.navbar-repo-option:hover {
  background: #21262d;
  color: #58a6ff;
}

.navbar-no-repo {
  margin: 0;
  padding: 15px;
  color: #8b949e;
  text-align: center;
}